<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <nlog>
        <targets>
            <!-- Add class and method name to logs https://github.com/nlog/nlog/wiki/Callsite-Layout-Renderer can be performance hit if a lot of messages logged-->
            <target type="File" name="DefaultTarget" fileName="Raman.log" createDirs="true"
                    layout="${longdate} ${uppercase:${level}} ${callsite:className=true:includeSourcePath=false:methodName=true:includeNamespace=false}: ${message} ${exception:format=ToString,StackTrace}"
                    archiveAboveSize="10000000" archiveNumbering="Sequence" maxArchiveFiles="10"/>
            <target type="Debugger" name="DebuggerTarget"
                    layout="${longdate} ${uppercase:${level}} ${callsite:className=true:includeSourcePath=false:methodName=true:includeNamespace=false}: ${message} ${exception:format=ToString,StackTrace}"/>
        </targets>
        <rules>
            <logger name="*" minlevel="Debug" writeTo="DefaultTarget"/>
            <logger name="*" minlevel="Debug" writeTo="DebuggerTarget"/>
        </rules>
    </nlog>
</configuration>
